{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "Image": true,
    "window": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off"
  }
}
